@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body{
    margin:0 auto;
    background: rgb(214, 214, 214);
    font: bold 12px/25px Arial, Helvetica;
    }

#projects{display: none;}
#vets{display: none;}
#info{display: none;}
#contact{display: none;}

/* unvisited link */
a:link {
    color: navy;
    text-decoration: none;
  }
  
/* visited link */
a:visited {
    color: navy;
}

/* mouse hover link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: navy;
}

#logo{
    margin:5px;
    width:100%; 
    }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: black;
    color: #999;
    text-align: center;
    vertical-align: middle;
}

#navbar{
    width:100%;
    height:50px;
    display:table;
    margin:auto;
    }

#navlinks ul {
    display:table;
    border-collapse:collapse;
    width:100%;
    margin:0 0 20px;
    padding:0;
    list-style:none;
    }

#navlinks li {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    width:20%;
    background: linear-gradient(to right, #111 50%, rgb(167, 227, 255) 50%);
    background-size: 200% 100%;
    background-position:left top;
    transition:all 1s ease;
    -webkit-transition-delay:all 1s ease;
    -moz-transition-delay:all 1s ease;
    -ms-transition-delay:all 1s ease;
    -o-transition-delay:all 1s ease;
    }

#navlinks li:hover{
    background-position:right top;
    }

#navlinks a {
    text-decoration:none;
    color: #999;
    text-transform: uppercase;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    font: bold 12px/25px Arial, Helvetica;
    transition:all 1s ease;
    -webkit-transition-delay:all 1s ease;
    -moz-transition-delay:all 1s ease;
    -ms-transition-delay:all 1s ease;
    -o-transition-delay:all 1s ease;
    }
    
#navlinks a:hover{
    color:black;
    }

#home {
    margin: 0 auto;
    background-image: url('images/me.gif');
    border: 2px solid #000;
    width: 180px;
    height: 340px;
    -webkit-animation: fadein 3s;
    animation: fadein 3s;
    }

#comingsoon {
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
    color: black;
    text-align: center;
}

#projects, #info, #contact {
    position: relative;
    background: rgb(167, 227, 255);
    color: black;
    border: 2px solid #000;
    width:70%;
    margin:0 auto;
    padding:20px;
    text-align: center;
    vertical-align: middle;
    -webkit-animation: fadein 3s;
    animation: fadein 3s;
}

#projects ul {
    list-style: none;
}

#vets {
    position: relative;
    background: rgb(253, 0, 0);
    color: white;
    border: 4px solid blue;
    width:70%;
    margin:0 auto;
    padding:20px;
    text-align: center;
    vertical-align: middle;
    -webkit-animation: fadein 3s;
    animation: fadein 3s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#desc {
    width: 50%;
    height: auto;
    background:#999;
    border: 1px dotted black;
    color:black;
    margin:0 auto;
    font-size: .65em;
}

#basicinfo {
    width: 75%;
    color:white;
    margin:0 auto;
    text-align: left;
    padding:15px;
}

#basincinfo:hover,
#basicinfo:hover a {
    color: black;
    font-weight: bold;
}

#plaintext {
    width: 75%;
    color:black;
    margin:0 auto;
    text-align: left;
    padding:10px;
}

.thanks-container {
    text-align: center;
    vertical-align: middle;
}
.thanks {
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    color: blue;
    font-weight: bold;
    padding:10px;
    font-size: 7em;
}